$mobile: 375px;
$tablet: 768px;
$desktop: 1450px;
$desktop-xl: 1700px;
$mobile-inline: 5%;
$desktop-inline: 13%;
$desktop-inline-xl: 20%;

@mixin responsive($breakpoint){
  @media (min-width: $breakpoint) {
    @content;
  }
}