$dark: #091220;
$blue: #38BDF8;
$blue-gray: #73a9f5;
$dark-blue: #142136;
$light-blue: #F1F5F9;
$absolute-white: white;
$light-hero: #E2E8F0;
$dark-hero:#0F172A;
$nav:#757575;
$nav-dark: #b4b4b4;
$active-nav-dark: #a8b0bb;
$route-name: #34aadc;
