@use "./breakpoints" as *;
$header-height:(
  mobile: 6.8rem,
  tablet-desktop: 7.2rem
);
$hero-height:(
  mobile: calc(100vh - map-get($header-height, mobile)),
  tablet: calc(78vh - map-get($header-height, tablet-desktop)),
  desktop: 55rem,
)