@use "../usuals/colors" as *;
@use "../usuals/measures" as *;
//---------- light theme
.app{
  
  .header{
    a,select,button,.material-symbols-outlined{
      color: $gray;
      background-color: transparent;
    }
    .themes--active{
      background-color: rgba(186, 186, 186, 0.235);
    }
  }
  .details, .methods, .news-details, .comments{
    background-color: $light-blue;
    .details__box{
      background-color: $absolute-white;
    }
    .methods__heading span{
      background-color: $absolute-white;
      color: $dark;
    }
    .methods__list li{
      background-color:$light-methods-card;
    }
    .news-details__body{
      background-color: $absolute-white;
    }
  }
  .hero, .loader, .whySoftclub, .certificate, .marks, .contacts__marks, .about .achievements{
    background-color: $light-hero;
    .contacts__marks__item{
      background-color: $light-blue;
    }
  }
  .course .companies {
    background-color: $light-hero;
    .companies__list-wrapper::after{
      background: linear-gradient(to left, $light-hero, transparent);
    }
    .companies__list-wrapper::before{
      background: linear-gradient(to right, $light-hero, transparent);
    }
  }
  .advantages, .achievements, .reviews, .academy-news, .companies, .teachers, .form-section, .about .director{
    background-color: $light-blue;
    .form-section__form{
      background-color: $light-hero;
    }
    .companies__list-wrapper::after{
      background: linear-gradient(to left, $light-blue, transparent);
    }
    .companies__list-wrapper::before{
      background: linear-gradient(to right, $light-blue, transparent);
    }
    .director__wrapper{
      background-color: $absolute-white;
      h4{
        color: $dark-blue;
      }
    } 
  }
}


//---------- dark theme
.dark{

  .header{
    &__aside__logo{
      filter: brightness(2)
    }
    a,select,button,.material-symbols-outlined{
      color: $light-gray;
    }

    option{
      background-color: $dark-hero;
    }
  }

  .hero, .loader, .whySoftclub, .marks, .details, .methods, .news-details, .contacts__marks, .comments, .about .achievements, .about .director{
    background-color: $dark-hero;
    *{
      color: $light-hero;
    }
    input, textarea{
      background-color: $dark-blue;
      &::placeholder{
        color: $light-gray;
      }
    }
    .details__box, .methods__list li, .news-details__body, .contacts__marks__item{
        background-color: $dark-blue;
    }
    .methods__heading span{
      background-color: $dark-blue;
      color: $absolute-white;
    }
    .director__wrapper{
      background-color: $dark-blue;
      h4, *{
        color: $light-blue;
      }
    } 
  }
  .course .companies, .about .companies{
    background-color: $dark-hero;
    .companies__list-wrapper::after{
      background: linear-gradient(to left, $dark-hero, transparent);
    }
    .companies__list-wrapper::before{
      background: linear-gradient(to right, $dark-hero, transparent);
    }
  }
  .advantages, .achievements, .reviews, .academy-news, .companies, .teachers, .form-section, .certificate{
    background-color: $dark-hero;
    filter: brightness(1.2);
    color: $absolute-white;
    small,p{color: $light-gray;}
    .advantages__list__item, .academy-news__list__item, .form-section__form{
      background-color: $dark-blue;
    }
    .companies__list-wrapper::after{
      background: linear-gradient(to left, $dark, transparent);
    }
    .companies__list-wrapper::before{
      background: linear-gradient(to right, $dark, transparent);
    }
    .form-section__form{
      input{
        background-color: $dark-hero;
        border: 1px solid $gray;
        color: $light-gray;
      }
      &__marks{
        border-top: 1px solid $gray;
        li{
          color: $light-gray;
          &::before{
            background-color: $gray;
          }
        }
      }
    }  
  }
}