@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
$typography:(
  h2: clamp(1.6rem, 4vw, 4.8rem),
  h3: clamp(2.4rem, 4vw, 4rem),
  h4: 2.4rem,
  h5: 1.6rem,
  button: clamp(1.4rem, 1.5vw ,1.6rem),
  a: clamp(1.6rem, 1.5vw, 1.8rem),
  p: clamp(1.6rem, 1.5vw ,1.8rem),
  small: 1.2rem,
  option: clamp(1.6rem, 1.5vw, 1.8rem),
  select: clamp(1.6rem, 1.5vw, 1.8rem)
);

@each $tag, $size in $typography{
  #{$tag}{
    font-size: $size;
    font-family: 'Montserrat', sans-serif;
    line-height: 130%;
  }
}