@use "../usuals/breakpoints" as *;
@use "../usuals/mixins" as *;
@use "../usuals/colors" as *;

// mobile
.header{
  padding-inline: $mobile-inline;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  &__aside{
    @include flex(center, space-between);
    &__logo{
    width: 7.8rem;
    aspect-ratio: 78/36;
    }
    &__menu{
      width: 2.4rem;
      &:focus{
      outline: dashed 1px;
      outline-offset: 0.6rem;
      }
    }
  }
  &__nav{
    @include flex();
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
    a{
      color: $nav;
    }
    .active{
      font-weight: 600;
      text-decoration: underline $blue 0.4rem;
      text-underline-offset: 0.5rem;
    }
  }
  &__switchers{
   @include grid(5rem 10rem);
   select{
    border: .1rem dashed;
   }
   &__themes{
    @include grid(1fr 1fr);
    button{
      @include flex(center, center);
      height: 3rem;
      background: none;
      border: .1rem dashed;
      img{
        block-size: 1.4rem;
      }
    }
    .themes--active{
      background-color: rgba(128, 128, 128, 0.202);
    }
   }
  }
  &__right-desktop{
    display: contents;
  }
  &--hide{
      display: none;
  }
}
// tablet
@include responsive($tablet){
  .header{
    @include flex(center, space-between);
    &__aside{
      &__menu{
        display: none;
      }
    }
    &__nav{
      @include grid(repeat(5, auto));
      gap: 2rem;
    }
    &--hide{
      display: grid;
    }
  }
}

// desktop
@include responsive($desktop){
  .header{
    padding-inline: $desktop-inline;
    &__aside__logo{
      width: 10.6rem;
      aspect-ratio: 106 / 46;
    }
    &__right-desktop{
      @include flex(center);
      gap: 5rem;
    }
  }
}